<div class="container-fluid">
  <div class="col-sm-12">
    <div class="display-4 text-center title">
      404 Page Not Found!
    </div>
    <div class="col-sm-4 mx-auto my-3 desc">
      The page you are requesting for may be broken or just not available now.
      Kindly visit us after some time. Click here on the Feeds button to go back
      to the feed. Have a Great Day :-)
    </div>
    <div class="col-sm-12 text-center">
      <button class="btn btn-dark">
        <a
          class="text-white"
          [routerLink]="['/postlist']"
          routerLinkActive="router-link-active"
          >Feeds</a
        >
      </button>
    </div>
  </div>
</div>
